<div class="main">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h1>{{course.title}}</h1>
      <form {{action 'submit' on='submit'}} class="register-form">
        <fieldset>
          <legend>About You</legend>

          <div class="row">
            <div class="large-12 columns">
              <label for="name">Name</label>
              {{input value=name disabled=purchasePending id="name"}}
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <label for="email">Email</label>
              {{input value=email disabled=purchasePending id="email"}}
            </div>
          </div>

          {{#if registrationErrors}}
            <div class="row">
              <div class="large-12 columns">
                <div class="alert alert--error">{{registrationErrors}}</div>
              </div>
            </div>
          {{/if}}
        </fieldset>

        <fieldset>
          <legend>Credit Card</legend>

          <div class="row">
            <div class="large-12 columns">
              <label for="cc-name">Name on Card</label>
              {{input value=card.name disabled=creditCardFormDisabled id="cc-name"}}
            </div>
          </div>

          <div class="row">
            <div class="large-8 columns">
              <label for="cc-number">Card Number</label>
              {{input value=card.number disabled=creditCardFormDisabled id="cc-number"}}
            </div>
            <div class="large-4 columns">
              <label for="cc-cvc">CVC</label>
              {{input value=card.cvc disabled=creditCardFormDisabled id="cc-cvc"}}
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <label for="cc-month">Expiration Month (MM)</label>
              {{input value=card.expMonth disabled=creditCardFormDisabled id="cc-month"}}
            </div>
            <div class="large-4 columns">
              <label for="cc-year">Expiration Year (YYYY)</label>
              {{input value=card.expYear disabled=creditCardFormDisabled id="cc-year"}}
            </div>
            <div class="large-4 columns"></div>
          </div>


          {{#if cardErrors}}
            <div class="row">
              <div class="large-12 columns">
                <div class="alert alert--error">{{cardErrors}}</div>
              </div>
            </div>
          {{/if}}

        </fieldset>

        <fieldset>
          <div class="row">
            <div class="large-4 columns">
              <label for="discount-code">Discount Code</label>
              {{input value=discountCode id="discount-code"}}
            </div>
            <div class="large-4 columns">
              {{#if discountPending}}
                <img class="spinner" src="<%= image_path('training_app/spinner.gif') %>" alt="Spinner" />
              {{/if}}
            </div>
            <div class="large-4 columns">
              <h2 class="center">
                $<span {{bind-attr class=":price isDiscounted:price--discounted:price--regular"}}>{{currentPrice}}</span>
              </h2>
            </div>
          </div>
        </fieldset>

        <div class="row">
          <div class="large-4 columns">
            {{#link-to 'course' course class="button-quiet"}}Cancel Purchase{{/link-to}}
          </div>
          <div class="large-4 columns">
            {{#if purchasePending}}
              <img class="spinner right" src="<%= image_path('training_app/spinner.gif') %>" alt="Spinner" />
            {{/if}}
          </div>
          <div class="large-4 columns">
            <button {{bind-attr disabled=purchasePending}} type="submit" class="button button--full-width">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
