{{#if videoUrl}}
  {{#video-player src=videoUrl poster=posterUrl class="chapter__video"}}

    <div class="pagers">
      {{#if previousChapter}}
        {{#link-to 'chapter' previousChapter class="pager pager--previous"}}
          <i class="fa fa-angle-left pager__icon"></i>
          <span class="pager__text">{{previousChapter.title}}</span>
        {{/link-to}}
      {{/if}}

      {{#if nextChapter}}
        {{#link-to 'chapter' nextChapter class="pager pager--next"}}
          <span class="pager__text">{{nextChapter.title}}</span>
          <i class="fa fa-angle-right pager__icon"></i>
        {{/link-to}}
      {{/if}}
    </div>
  {{/video-player}}
{{/if}}

<div class="chapter__description">
  {{format-markdown description}}
</div>

{{#if codeUrl}}
  <iframe class="chapter__code" {{bind-attr src=codeUrl}}></iframe>
{{/if}}
