<header class="header">
  <div class="info-bar">
    <h1 class="info-bar__title">Not Found</h1>
  </div>
</header>

<section class="main">
  <div class="main__content">
    <p>We couldn't find anything at that URL. If you believe this is an error contact us at training@teamgaslight.com</p>
  </div>
</section>
