
@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }

  @-moz-keyframes $animation_name {
    @content;
  }

  @-o-keyframes $animation_name {
    @content;
  }

  @keyframes $animation_name {
    @content;
  }
}


@include keyframe(transition-previous) {
  0% {
    left: 0;
    opacity: 1;
  }
  25% {
    left: 5%;
    opacity: 0;
  }
  50% {
    left: -5%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@include keyframe(transition-next) {
  0% {
    right: 0;
    opacity: 1;
  }
  25% {
    right: 5%;
    opacity: 0;
  }
  50% {
    right: -5%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
  

@mixin animation ($animation, $duration, $ease) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $ease;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $ease;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-name: $animation;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $ease;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $ease;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}


.animation--transition-previous {
  @include animation(transition-previous, 0.75s, ease-out);
}

.animation--transition-next {
  @include animation(transition-next, 0.75s, ease-out);
}