<div class="course_landing">
  <h1 class="course__title">
    {{controllers.course.title}}
  </h1>

  <div class="course__intro">
    {{format-markdown controllers.course.introduction}}
  </div>

  <div class="course__actions">
    {{#link-to 'chapter' firstChapter class="button button--primary"}}
      Get Started! <i class="fa fa-arrow-right"></i>
    {{/link-to}}
  </div>
</div>

